/* RESET AND GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    font: inherit;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #f7fafd;
}

.main {
    max-width: 752px;
    background-color: #ffffff;
    padding: 24px 16px 29px 16px;
    margin: 0 auto;
    height: 100vh;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.h3 {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #1c202b;

    display: flex;
}

.h3--num {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    margin-left: 8px;
    padding: 2px 11px 3px 11px;
    border-radius: 6px;
    background-color: hsl(219, 85%, 26%);

    cursor: pointer;
}

.h3--num:hover {
    opacity: 0.9;
}

.btn-mark-all {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #5e6778;

    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn-mark-all:hover {
    color: #0a327b;
}

/* NOTIFICATION */

.not {
    width: 100%;

    padding: 16px;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 39px 1fr;
    grid-template-rows: 1fr;
    column-gap: 13px;
}

.not:not(:last-child) {
    margin-bottom: 10px;
}

.not__profile-picture {
    display: block;
    grid-column: 1 / 2;
    width: 100%;
    height: 39px;
    cursor: pointer;
}

.not__content-box {
    position: relative;
    grid-column: 2 / 3;
}

.unread-not {
    background-color: #f7fafd;
    transition: background-color 0.15s;
}

.not__title {
    position: relative;
}

:root {
    --display-not: inline-block;
}

.unread-not .not__title a:last-child::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #f65552;
    border-radius: 50%;
    margin: 0 0 1px 6px;
    display: var(--display-not);
}

.not__author-name,
.not__author-name:link,
.not__author-name:visited {
    text-decoration: none;
    position: relative;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    color: #1c202b;
}

.not__author-name:hover {
    color: #0a327b;
}

.not__action,
.not__action:link,
.not__action:visited {
    text-decoration: none;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #5e6778;
}

.not__target,
.not__target:link,
.not__target:visited {
    text-decoration: none;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #5e6778;
}

.not__target:hover {
    color: #0a327b;
}

.not__target--your-group,
.not__target--your-group:link,
.not__target--your-group:visited {
    color: #0a327b;
}

.not__time {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #939cad;
    margin-top: 3px;
}

.not__sent-message {
    grid-column: 2 / 3;
    width: 100%;
    height: fit-content;

    margin-top: 12px;
    padding: 16px;
    border: 1px solid #dde7ee;
    border-radius: 5px;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #5e6778;

    cursor: pointer;
}

.not__sent-message:hover {
    background-color: #e5effa;
}

.not__commented-img {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.not-contains-img {
    padding-right: 60px;
}

@media only screen and (min-width: 752px) {
    .main {
        max-width: 730px;
        margin: 63px auto 89px auto;
        padding: 33px 30px 29px 30px;
        border-radius: 15px;
        box-shadow: 0 20px 60px rgba(73, 97, 168, 0.05);
        height: auto;
    }

    .header {
        margin-bottom: 31px;
    }

    .h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .h3--num {
        margin-left: 11px;
        padding: 5px 11px 3px 11px;
    }

    .btn-mark-all {
        font-size: 16px;
        line-height: 20px;
    }

    .not {
        padding: 18px 32px 17px 20px;
        grid-template-columns: 45px 1fr;
        column-gap: 19px;
    }

    .not:not(:last-child) {
        margin-bottom: 8px;
    }

    .not__profile-picture {
        height: 45px;
    }

    .not__content-box {
        position: relative;
        grid-column: 2 / 3;
    }

    .not__time {
        font-size: 16px;
        line-height: 20px;
    }

    .not__author-name,
    .not__author-name:link,
    .not__author-name:visited {
        font-size: 16px;
        line-height: 20px;
    }

    .not__action,
    .not__action:link,
    .not__action:visited {
        font-size: 16px;
        line-height: 20px;
    }

    .not__target,
    .not__target:link,
    .not__target:visited {
        font-size: 16px;
        line-height: 20px;
    }

    .not__sent-message {
        margin-top: 13px;
        padding: 17px 20px 20px 20px;
        font-size: 16px;
        line-height: 20px;
    }

    .not__commented-img {
        width: 45px;
        height: 45px;
    }

    .not-contains-img {
        padding-right: 70px;
    }
}
